


.about-us-page .overlap {
    background: inherit;
    height: 3780px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-page .overlap-group {
    margin-top: 20%;
    height: 640px;
    left: 600ùpx;
    position: absolute;
    top: 0;
    width: 1440px;
    border: none;
}
.about-us-page .overlap-group {
    height: 640px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    border: none;
}

.about-us-page .group-wrapper {
    height: 340px;
    left: 0;
    position: absolute;
    top: 42px;
    width: 617px;
}

.about-us-page .group-2 {
    height: 340px;
    position: relative;
    width: 621px;
}

.about-us-page .text-wrapper-8 {
    color: #ffffff;
    font-family: "SF Pro Display-Heavy", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 129px;
    letter-spacing: 1.2px;
    line-height: 81px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.about-us-page .p {
    color: var(--half-white);
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 101px;
    width: 617px;
}

.about-us-page .frame {
    align-items: center;
    background: linear-gradient(180deg, rgb(183, 92, 255) 0%, rgb(103, 26, 228) 100%);
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 254px;
    padding: 10px 20px;
    position: absolute;
    top: 290px;
}

.about-us-page .text-wrapper-9 {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    width: fit-content;
}

.about-us-page .text-wrapper-10 {
    color: #6c5dd3;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 25px;
    font-weight: 500;
    left: 256px;
    letter-spacing: 0.5px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.about-us-page .rectangle {
    background-color: #6c5dd3;
  
    height: 2px;
    left: 263px;
    position: absolute;
    top: 31px;
    width: 91px;
}


.about-us-page .drop-down-open-instance {
    left: 1021px !important;
    position: absolute !important;
    top: 70px !important;
}

.about-us-page .group-3 {
    height: 485px;
    left: 142px;
    position: absolute;
    top: 812px;
    width: 1172px;
}

.about-us-page .text-wrapper-11 {
    color: #ffffff;
    font-family: "SF Pro Display-Heavy", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.2px;
    line-height: 81px;
    position: absolute;
    top: 38px;
    white-space: nowrap;
}

.about-us-page .text-wrapper-12 {
    color: var(--half-white);
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 139px;
    width: 617px;
}

.about-us-page .div-wrapper {
    align-items: center;
    background: linear-gradient(180deg, rgb(183, 92, 255) 0%, rgb(103, 26, 228) 100%);
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 328px;
}

.about-us-page .text-wrapper-13 {
    color: #ffffff;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
}

.about-us-page .overlap-group-wrapper {
    height: 447px;
    left: 794px;
    position: absolute;
    top: 38px;
    width: 374px;
}

.about-us-page .overlap-group-2 {
    height: 481px;
    left: -25px;
    position: relative;
    top: -25px;
    width: 408px;
}

.about-us-page .rectangle-2 {
    height: 397px;
    left: 75px;
    position: absolute;
    top: 75px;
    width: 324px;
}

.about-us-page .rectangle-3 {
    height: 465px;
    left: 16px;
    object-fit: cover;
    position: absolute;
    top: 16px;
    width: 392px;
}

.about-us-page .rectangle-4 {
    height: 447px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 374px;
}

.about-us-page .group-4 {
    height: 28px;
    left: 0;
    position: absolute;
    top: 0;
    width: 94px;
}

.about-us-page .text-wrapper-14 {
    color: #6c5dd3;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0.36px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.about-us-page .rectangle-5 {
    background-color: #6c5dd3;
    height: 2px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 92px;
}

.about-us-page .group-5 {
    height: 447px;
    left: 136px;
    position: absolute;
    top: 1480px;
    width: 1168px;
}

.about-us-page .group-6 {
    height: 340px;
    left: 491px;
    position: absolute;
    top: 0;
    width: 681px;
}

.about-us-page .text-wrapper-15 {
    color: #ffffff;
    font-family: "SF Pro Display-Heavy", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.2px;
    line-height: 81px;
    position: absolute;
    top: 0;
    white-space: nowrap;
}

.about-us-page .text-wrapper-16 {
    color: var(--half-white);
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    top: 101px;
    width: 677px;
}

.about-us-page .frame-2 {
    align-items: center;
    background: linear-gradient(180deg, rgb(183, 92, 255) 0%, rgb(103, 26, 228) 100%);
   
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    top: 290px;
}

.about-us-page .group-7 {
    height: 447px;
    left: 0;
    position: absolute;
    top: 0;
    width: 374px;
}

.about-us-page .group-8 {
    height: 447px;
}

.about-us-page .overlap-group-3 {
    margin-left: 15%;
    height: 481px;
    left: -34px;
    position: relative;
    top: -34px;
    width: 408px;
}

.about-us-page .rectangle-6 {
    height: 397px;
    left: 84px;
    position: absolute;
    top: 84px;
    width: 324px;
}

.about-us-page .rectangle-7 {
    height: 465px;
    left: 24px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 392px;
}

.about-us-page .rectangle-8 {
    height: 447px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 374px;
}

.about-us-page .group-9 {
    height: 1289px;
    left: 250px;
    position: absolute;
    top: 2077px;
    width: 1017px;
}

.about-us-page .text-wrapper-17 {
    color: #ffffff;
    font-family: "SF Pro Display-Heavy", Helvetica;
    font-size: 60px;
    font-weight: 400;
    left: 337px;
    letter-spacing: 1.2px;
    line-height: 81px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
}

.about-us-page .text-wrapper-18 {
    color: var(--half-white);
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 200px;
    letter-spacing: 0;
    line-height: 36px;
    position: absolute;
    text-align: center;
    top: 101px;
    width: 617px;
}

.about-us-page .group-10 {
    height: 452px;
    left: 0;
    position: absolute;
    top: 305px;
    width: 320px;
}

.about-us-page .rectangle-9 {
    height: 360px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 318px;
}

.about-us-page .text-wrapper-19 {
    color: #ffffff;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 99px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .frame-3 {
    align-items: center;
    background-color: #ffffff33;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    left: 96px;
    padding: 10px;
    position: absolute;
    top: 416px;
    width: 126px;
}

.about-us-page .text-wrapper-20 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.32px;
    line-height: normal;
    margin-bottom: -0.5px;
    margin-top: -2.5px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.about-us-page .group-11 {
    height: 452px;
    left: 0;
    position: absolute;
    top: 837px;
    width: 320px;
}

.about-us-page .text-wrapper-21 {
    color: #ffffff;
    font-family: "SF Pro Display-Semibold", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 98px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .group-12 {
    height: 452px;
    left: 348px;
    position: absolute;
    top: 305px;
    width: 320px;
}

.about-us-page .rectangle-10 {
    height: 360px;
    left: 0;
    position: absolute;
    top: 0;
    width: 318px;
}

.about-us-page .text-wrapper-22 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 109px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .group-13 {
    height: 452px;
    left: 348px;
    position: absolute;
    top: 837px;
    width: 320px;
}

.about-us-page .text-wrapper-23 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 57px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .group-14 {
    height: 452px;
    left: 695px;
    position: absolute;
    top: 305px;
    width: 320px;
}

.about-us-page .group-15 {
  
    background-position: 50% 50%;
    background-size: cover;
    height: 360px;
    left: 0;
    position: absolute;
    top: 0;
    width: 318px;
}

.about-us-page .text-wrapper-24 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 87px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .group-16 {
    height: 452px;
    left: 695px;
    position: absolute;
    top: 837px;
    width: 320px;
}

.about-us-page .group-17 {
 
    background-position: 50% 50%;
    background-size: cover;
    height: 360px;
    left: 0;
    position: absolute;
    top: 0;
    width: 318px;
}

.about-us-page .text-wrapper-25 {
    color: #ffffff;
    font-family: "SF Pro Display-Medium", Helvetica;
    font-size: 22px;
    font-weight: 500;
    left: 105px;
    letter-spacing: 0.44px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 380px;
    white-space: nowrap;
}

.about-us-page .group-18 {
    height: 202px;
    left: 122px;
    position: absolute;
    top: 3546px;
    width: 1199px;
}

.about-us-page .overlap-2 {
    height: 202px;
    position: relative;
    width: 1197px;
}

.about-us-page .footer {
    background-color: transparent;
    height: 202px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1197px;
}

.about-us-page .group-19 {
    height: 202px;
    left: 419px;
    position: absolute;
    top: 0;
    width: 143px;
}

.about-us-page .text-wrapper-26 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}

.about-us-page .text-wrapper-27 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
}

.about-us-page .text-wrapper-28 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 93px;
}

.about-us-page .text-wrapper-29 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 136px;
}

.about-us-page .text-wrapper-30 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 179px;
}

.about-us-page .group-20 {
    height: 202px;
    left: 683px;
    position: absolute;
    top: 0;
    width: 129px;
}

.about-us-page .group-21 {
    height: 100px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 290px;
}

.about-us-page .text-wrapper-31 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 0;
    width: 288px;
}

.about-us-page .group-22 {
    height: 161px;
    left: 933px;
    position: absolute;
    top: 0;
    width: 270px;
}

.about-us-page .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 136px;
}

.about-us-page .icon-instance-node {
    height: 25px !important;
    position: relative !important;
    width: 25px !important;
}

.about-us-page .text-wrapper-32 {
    color: #6c5dd3;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}
