.in-the-midle{
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
}
.footer .group-18 {
    height: 202px;
    left: 122px;
    position: relative;
    top: 500px;
    width: 1199px;
}

.footer .overlap-2 {
    height: 202px;
    position: relative;
    width: 1197px;
}

.footer .footer {
    background-color: transparent;
    height: 202px;
    left: 0;
    position: relative;
    top: 0;
    width: 1197px;
 margin-left: 100px;
}

.footer .group-19 {
    height: 202px;
    left: 419px;
    position: absolute;
    top: 0;
    width: 143px;
}

.footer .text-wrapper-26 {
    color: #ffffff;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}

.footer .text-wrapper-27 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 50px;
}

.footer .text-wrapper-28 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 93px;
}

.footer .text-wrapper-29 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 136px;
}

.footer .text-wrapper-30 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 179px;
}

.footer .group-20 {
    height: 202px;
    left: 683px;
    position: absolute;
    top: 0;
    width: 129px;
}

.footer .group-21 {
    height: 100px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 290px;
}

.footer .text-wrapper-31 {
    color: #ffffff80;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 15px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 0;
    width: 288px;
}

.footer .group-22 {
    height: 161px;
    left: 933px;
    position: absolute;
    top: 0;
    width: 270px;
}

.footer .frame-4 {
    align-items: center;
    display: inline-flex;
    gap: 40px;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 136px;
}

.footer .icon-instance-node {
    height: 25px !important;
    position: relative !important;
    width: 25px !important;
}

.footer .text-wrapper-32 {
    color: #6c5dd3;
    font-family: "Poppins-Bold", Helvetica;
    font-size: 20px;
    font-weight: 700;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
}
.footer .group-23 {
    height: 200px;
    left: 1000px;
    position: absolute;
    top: 150px;
    width: 270px;
    
}
.footer {
    position: relative;
}