#homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100vw;

   




}
.lightParag {
    color: rgba(255, 255, 255, 0.5);
}

.topSectionBtns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 5%;
    margin: 100px 0px;

}

.topSectionBtns .creatorsMarket {
    background-color: #493E52;
}

.topSectionBtns .mainColl {
    background-color: #6C5DD3;
}

.topSectionBtns .creatorsMarket:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.topSectionBtns button {
    border-radius: 206.71px;
    padding: 13px;
    color: white;
    font-size: 18.87;
    font-weight: 600;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topSectionBtns .mainColl:hover {
    background-color: #4e3cc0;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-top: 130px;
}

.logos span {
    display: flex;
    justify-content: center;
    align-items: center;

}

.getStarted h1 {
    font-size: 50px;
}

.getStarted button {
    background-color: lightBlue;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.getStarted button:hover {
    background-color: #ac7af3;
}

.getStarted {
    background: rgb(183, 92, 255);
    background: linear-gradient(270deg, rgba(183, 92, 255, 1) 0%, rgba(103, 26, 228, 1) 99%);
    height: 320px;
    width: 1000px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16%;
}

.fashionSpeaks .imgContainer {
    height: 100%;
    width: 50%;
}

.fashionSpeaks {
    margin: 50px 0px;
    padding: 0px 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 560px;
    gap: 90px;
}

.description h2 {
    font-size: 36px;
}

.description p {
    font-size: 20px;
    line-height: 200%;
}

.description .showMore {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #6C5DD3;
    border: none;
    color: white;
    border-radius: 6px;
}

.showMore:hover {
    background-color: #4e3cc0;
}

.description {
    height: 100%;
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.aboutUs {
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aboutUs p {
    width: 423px;
    font-size: 20px;
}

.aboutUs h2 {
    font-size: 40px;
}

.allCollections {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.allCollections h2 {
    font-size: 40px;
}

.allCollections p {
    font-style: 20px;
}

.complexThings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin-left: 80px;


}

.complexThings span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productSection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 100px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.categories h4 {
    padding: 10px 70px;
    background-color: #493E52;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.categories h4:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.supportQuest {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    padding: 20px;
}

.supportQuest input {
    color: white;
    height: 4rem;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: solid 1px white;
    font-size: 20px;
}