body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-up{
  /* background-color: red ; */
  background-color: linear-gradient(113.49deg, #984d38, #181e41 63.29%);;
  display: flex ;
  justify-content: center;
  align-items: center ;
  gap: 4rem;
  width: 60%;
  padding: 2rem;
  border: 1px solid #ffff;
  border-radius: 1rem;
}
.form-container{
  /* background-color: green; */
  background-color: linear-gradient(113.49deg, #984d38, #181e41 63.29%);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #ffff;
}
.name-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  /* background-color: blue; */
  gap: 1rem;
}
.profile-image-frame{
  width: 25%;
  overflow: hidden;
  border-radius: 1rem;
}
.submit-button{
  background-color: blueviolet;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5vw;
  border-radius: 0.5rem;
  cursor: pointer;
}
.large-input{
  width: 80%;
  height: 3vh;
  border:none;
  outline: none;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.small-input{
  width: 40%;
  height: 3vh;
  border:none;
  outline: none;
  border-radius: 0.4rem;
  background-color: transparent;
  color: white;
  font-size: 16px;
}
.large-input:hover{
  border-bottom: 1px solid #ffff;
}
.large-input:focus{
  border-bottom: 1px solid #ffff;
}
.small-input:hover{
  border-bottom: 1px solid #ffff;
}
.small-input:focus{
  border-bottom: 1px solid #ffff;
}

.submit-button:hover{
  background-color: rgb(182, 108, 252);
}